// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

// Import custom foundation
@import "foundation/settings.scss";
@import "foundation/foundation.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Custom Utility Classes
.tdu {
  text-decoration: underline;
}

.fwb {
  font-weight: bold;
}

.no-margin {
  margin: 0 !important;
}

// Color Palette
$white: #FFFFFF;
$light-purple: #DCDBED;
$tan: #EDEADB;
$brown: #A09C84;
$purple: #7874A0;
$dark: #444444;
$black: #000000;

body {
  padding: 0;
  background: $dark;
}

[ng-click] {
  cursor: pointer;
}

.bar {
  padding: 10px 0;
  background: $tan;
  color: $brown;
  font-size: 24px;
  box-shadow: 0 0 20px rgba( $black, 0.16 );
  position: relative;
  z-index: 1;

  a {
    color: $brown;
    text-decoration: underline;

    &:hover {
      color: $purple;
    }
  }
}

.bar-top {
  .logo {
    font-weight: bold;
    color: $brown;

    img {
      max-height: 40px;
    }

    a {
      text-decoration: none;
    }
  }

  .begin {
    i {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .counter {
    line-height: 40px;
  }
}

.bar-bottom {
  font-size: 12px;
  font-weight: bold;

  i {
    color: $purple;
  }
}

.editor > .grid-content {
  position: relative;
  margin-top: 30px;
  background: $white;
  box-shadow: 0 0 10px rgba( $black, 0.17 );
}

.page {
  @include slide(
    $dir: in, // Specify in or out
    $from: bottom, // Can be top, right, bottom, or left
    $fade: true, // If true, the element fades simultaneously
    $duration: 0.2s,
    $timing: easeIn,
    $delay: 0.3s
  );

  @include fade(
    $dir: out, // Specify in or out
    $from: 1, // Should be an opacity value between 0 and 1
    $to: 0, // Same as above
    $duration: 0.5s,
    $timing: easeIn
  );

  .page-container {
    padding: 30px 20px;
    background: $white;

    .editor-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    [text-angular] {
      [text-angular-toolbar] {
        display: none;

        .btn-group {
        
          &:first-child {
            border-bottom: 1px solid $brown;
            button {
              width: 11.11%;
            }
          }
          &:nth-child(2) {
            display: inline-block;
            border-bottom: 1px solid $brown;
            width: 58.8%;

            button {
              width: 11.11%;
            }
          }
          &:nth-child(3) {
            display: inline-block;
            border-bottom: 1px solid $brown;
            width: 41.2%;

            button {
              width: 16.66%;
            }
          }

          button {
            background: $tan;
            color: $brown;
            border-radius: 0;
            border: none;
            padding: 15px 0;

            &[name="strikeThrough"], &[name="ol"], &[name="clear"] {
              border-right: 1px solid $brown;
            }

            &[name="html"], &[name="insertImage"], &[name="insertLink"], &[name="insertVideo"] {
              display: none;
            }

            &:hover {
              background: $brown;
              color: $tan;
            }
          }

          #toolbarWC, #toolbarCC {
            display: inline-block !important;
            width: 50%;
            text-align: center;
            padding: 10px 0;
            color: $brown;
          }
        }
      }

      .ta-scroll-window.form-control {
        overflow: hidden;
        outline: none;
        box-shadow: none;
        border: none;
        border-color: $white;
      }

      .ta-scroll-window > .ta-bind {
        padding: 0;
        outline: none;
        border: none;
        box-shadow: none;
        opacity: 1;
        transition: opacity 200ms ease-in-out;
        font-size: 20px;
        line-height: 1.6;

        p {
          font-size: 20px;
          margin-bottom: 10px;
        }

        small {
          display: block;
        }
      }

      &.showToolbar {
        [text-angular-toolbar] {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }

        .ta-scroll-window {
          margin-top: 100px;
        }
      }
    }
  }
}

.modal {
  cursor: initial;

  h1, h2 {
    color: $purple;
  }

  .button-group li {
    position: relative;
  }

  .button-group .disconnect {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    color: $white;
    background: rgba( $white, 0.3 );
    border-bottom-left-radius: 12px;
    cursor: pointer;

    &:hover {
      background: rgba( $white, 0.5 );
    }
  }

  .button, .button-group li a {
    background: $tan;
    outline: none;
    color: $brown;
    border-color: $brown;
    font-weight: bold;

    i {
      font-size: 24px;
    }

    &:hover {
      background: $brown;
      color: $tan;
    }
  }
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    line-height: 16px;
    max-width: 47%;
}

.icon-edit {
  float: right;
}

.go-back, .close-modal {
  position: absolute;
  top: 0;
  padding: 15px;
  z-index: 10;
  color: $black;

  &:hover {
    color: $purple;
  }
}

.go-back {
  left: 0;
}

.close-modal {
  right: 0;
}

a.email.active {
  background: $purple !important;
  border-color: $white !important;
  i { color: $white; }
}
a.facebook.active {
  background: #3b5998 !important;
  border-color: $white !important;
  i { color: $white; }
}
a.twitter.active {
  background: #4099FF !important;
  border-color: $white !important;
  i { color: $white; }
}
a.google.active {
  background: #d34836 !important;
  border-color: $white !important;
  i { color: $white; }
}

@include breakpoint( small only ) {

  .modal {
    padding: 10px 0;
  }

  .bar {
    box-shadow: none;
  }

  .bar-top {
    font-size: 14px;
    border-bottom: 1px solid #D1C9A3;

    .begin i {
      position: relative;
      font-size: 24px;

      &::after {
        content: '';
        position: absolute;
        top: -9px;
        left: -9px;
        width: 32px;
        height: 32px;
      }
    }

    .logo {
      text-align: left;
    }

    .logo img {
      max-height: 28px;
      margin: 6px 0;
    }

    .counter {
      font-size: 21px;
    }
  }

  .editor > .grid-content {
    padding: 0;
    margin-top: 0;
  }

  .main {
    background: $white;
  }

  .page .page-container {
    margin-top: 0;
    box-shadow: none;
    padding: 20px;

    [text-angular] .ta-scroll-window > .ta-bind, [text-angular] .ta-scroll-window > .ta-bind p {
      font-size: 16px;
    }

    [text-angular] [text-angular-toolbar] .btn-group button {
      font-size: 10px;
    }
  }

  .bar-bottom {
    font-size: 18px;
    font-weight: normal;
    border-top: 1px solid #D1C9A3;
  }

}