<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
</head>
<body>
<script type="text/javascript">
    if (window.opener) {
        var state = '<%= state %>';
        var user = <%- JSON.stringify(user) %>;
        window.opener.postMessage( { state: state, user: user }, 'http://localhost:9000' );
    }
    window.close();
</script>
</body>
</html>